include_paths = [
  ".",
  "Core",
  "Util",
  "Dungeons",
  "Items",
  "Sprites",
  "Overworld",
  "Menu"
]
defines = [
  "ORACLE=1"
]
symbols = "mesen"
rom_path = "Roms/oos168x.sfc"
main = "Oracle_main.asm"
